/* =========================================================
    SCROLLIFY-JS - SCROLL PROGRESS INDICATOR WHEN SCROLLING ON WEB PAGE
    https://github.com/emmanpbarrameda/scrollify-js
    © emmanpbarrameda - https://emmanpbarrameda.github.io/
============================================================ */

.scrollify_scroll_progress {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    height: 4px;

    background: linear-gradient(to left, #B374F8, #4da3ff);
    z-index: 999; 

    pointer-events: none;
    will-change: transform;

    transform: scaleX(0);
    transform-origin: left;
}